html {
  height: 95%;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 3em;
  min-height: 100%;
  overflow-x: hidden;
}
button {
  padding: 0 8px;
}
ul {
  list-style: none;
}
#menu span {
  display: block;
  margin-left: 25%;
}
#site-name a {
  float: left;
  padding-left: 1em;
}
#menu ul {
  list-style:none;
  position:relative;
  float: right;
  padding-top: 0.5em;
  padding-right: 2em;
}
#menu ul a {
  display:block;
  text-decoration:none;
  padding-right: 0.8em;
  font-size: 0.9em;
}
#menu ul li, #projectsMenu ul li{
  position:relative;
  float:left;
  margin:0;
  padding:0;
}
#menu-hidden {
  float: right;
  display: none;
}
#menu-hidden:hover {
  cursor: pointer;
}
#projectsMenu ul {
  float: right;
  list-style: none;
  position: relative;
}
#projectsMenu ul a {
  padding-right: 1em;
}
#projectsMenu ul li {
  padding-top: 0;
  white-space: normal;
}
#projectsMenu ul li:hover {
  text-decoration: underline;
}
#projects-bar {
  height: 33px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #BFC2C2;
}
#iphone-item {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#watch-item {
  border-right: 1px solid #BFC2C2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#footer-links {
  list-style:none;
  position:relative;
  float: right;
  padding-top: 0.5em;
  padding-right: 2em;
}
#footer-info {
  list-style:none;
  position:relative;
  float: left;
  padding-top: 0.5em;
  padding-left: 2em;
  height: 1em;
}
.app-logo-iphone {
  border: 1px solid black;
  border-radius:50px;
}
.app-logo-watch {
  border: 1px solid black;
  border-radius:100px;
}
.site-footer ul {
  height: 1em;
}
.site-footer ul a {
  display: block;
  text-decoration: none;
  padding-right: 1em;
}
.site-footer ul li {
  position: relative;
  float: left;
  height: 1em;
}
.categories {
  font-weight: lighter;
  font-family:sans-serif;
  color: #6B6A68;
  letter-spacing: 0.1px;
}
.category-item {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: lighter;
  font-size: 11px;
  padding: 0 4px;
  height: auto;
  color:  #9B9C9C;
  border: 2px solid rgba(187,187,187,0.5);
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}
.category-item a {
  color:  #9B9C9C;
}
.home-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.menu-projects a {
  text-decoration: none;
  font-weight: lighter;
  font-size: 13px;
  padding: 0 4px;
  color: #8B8C8C;
  border-top: 1px solid #BFC2C2;
  border-left: 1px solid #BFC2C2;
  border-bottom: 1px solid #BFC2C2;
  white-space: nowrap;
  display: inline-block;
  margin-top: 0px;
}
.projects-name {
  margin-top: 0px;
  font-size: 19px;
}
.responsive-menu {
  display: none;
  top: 52px;
  width: 100%;
}
.responsive-menu ul {
  width: 100%;
  height: 100%;
  top: 52px;
  position: relative;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.responsive-menu li {
  margin-bottom: 0;
}
.responsive-menu li a {
  text-align: center;
  float: none;
  position: relative;
  width: 100%;
  font-size: 5em;
  display: list-item;
  border-bottom: #EDEDED solid 1px;
  color: #696966;
}
.expand {
  display: block !important;
  z-index: 100000;
}
.hide-content {
  display: none;
}

@media (max-width: 320px) {
  .home-image {
    height: 250px;
    width: 200px;
  }
  .menu-projects {
    font-size: 10px;
  }
}
@media (max-width: 385px) {
  #projectsMenu ul li span{
    display: none;
  }
  #menu ul a {
    margin-top: 0.65em;
  }
}
/* For devices smaller than 550px */
@media (max-width: 550px) {
  .button-platform {
    font-size: 0.7em;
  }
  #site-name {
    float: left;
    max-width: 50%;
    margin-top: 0.3em;
  }
  #menu {
    float: left;
    max-width: 50%;
  }
  #menu-hidden {
    display: block;
    margin-top: 0.3em;
  }
  #menu-hidden h5 {
    font-size: 2em;
    color: #696966;
  }
  #footer-info {
    float: left;
    max-width: 50%;
  }
  #footer-links {
    float: right;
    max-width: 50%;
  }
  #projectsMenu ul {
    float: left;
  }
  #menu ul a {
    padding-right: 0.5em;
  }
  #menu ul a {
    font-size: 0.9em;
  }
  .menu-visible li {
    display: none;
  }
  .home-image {
    height: 300px;
    width: 300px;
  }
  .app-logo-iphone, .app-logo-watch {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    width: 90%;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .two-thirds {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .site-header {
    height: 45px;
  }
}
@media (max-width:700px) {
  #projectsMenu ul a {
    font-size: 0.8em;
    padding-right: 0.5em;
  }
}
@media (max-width:760px) {
  #projects-bar {
    height: 70px;
  }
  #projectsMenu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    left: 0;
  }
  #projectsMenu ul{
    float: left;
  }
  #projects-title {
    margin-bottom: 0;
    width: 100%;
  }
  #projects-title {
    height: 40px;
  }
}

@font-face {
  font-family: 'Bonveno';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/BonvenoCF-Light.otf);
}
