html {
  height: 95%;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 3em;
  min-height: 100%;
  overflow-x: hidden;
}

button {
  padding: 0 8px;
}

#site-name a {
  float: left;
  padding-left: 1em;
}

#menu ul {
  list-style:none;
  position:relative;
  float: right;
  padding-top: 0.5em;
  padding-right: 2em;
}
#menu ul a {
  display:block;
  text-decoration:none;
  padding-right: 0.8em;
}

#menu ul li, #projectsMenu ul li{
  position:relative;
  float:left;
  margin:0;
  padding:0;
}
#projectsMenu ul {
  list-style: none;
  position: relative;
  padding: 0.5em, 2em;
}
#projectsMenu ul a {
  padding-right: 1em;
}
#projectsMenu ul li {
  margin-top: 0.8em;
}
#projectsMenu ul li:hover {
  text-decoration: underline;
}

#footer-links {
  list-style:none;
  position:relative;
  float: right;
  padding-top: 0.5em;
  padding-right: 2em;
}
#footer-info {
  list-style:none;
  position:relative;
  float: left;
  padding-top: 0.5em;
  padding-left: 2em;
  height: 1em;
}
.site-footer ul {
  height: 1em;
}
.site-footer ul a {
  display: block;
  text-decoration: none;
  padding-right: 1em;
}
.site-footer ul li {
  position: relative;
  float: left;
  height: 1em;
}
.categories {
  font-weight: lighter;
  font-family:sans-serif;
  color: #6B6A68;
  letter-spacing: 0.1px;
}
.category-item {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: lighter;
  font-size: 11px;
  padding: 0 4px;
  height: auto;
  color:  #A8A8A8;
  border: 2px solid rgba(187,187,187,0.5);
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

@media (max-width: 320px) {
  .home-image {
    height: 250px;
    width: 200px;
  }
  .menu-projects {
    font-size: 15px;
  }
}
/* For devices smaller than 550px */
@media (max-width: 550px) {
  .button-platform {
    font-size: 0.7em;
  }
  #site-name {
    float: left;
    max-width: 50%;
  }
  #menu {
    float: left;
    max-width: 50%;
  }
  #footer-info {
    float: left;
    max-width: 50%;
  }
  #footer-links {
    float: right;
    max-width: 50%;
  }
  .app-logo-iphone, .app-logo-watch {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    width: 90%;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .two-thirds {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}
